In [35]:
from pyspark import SparkContext
import json
import csv
import sys

business_file_path = "./data/yelp_dataset/business.json"
review_file_path = "./data/yelp_dataset/review.json"
output_file_path = "./data/yelp_dataset/user_business.csv"
state = "NV"

sc = SparkContext.getOrCreate()
business_list = sc.textFile(business_file_path).map(lambda row: json.loads(row))\
    .map(lambda json_data: (json_data["business_id"], json_data["state"]))\
    .filter(lambda kv: kv[1] == state).map(lambda line: line[0]).collect()

user_list = sc.textFile(review_file_path).map(lambda row: json.loads(row))\
    .map(lambda json_data: (json_data["user_id"], json_data["business_id"]))\
    .filter(lambda kv: kv[1] in business_list).collect()

with open(output_file_path, mode='w', newline='') as result_file:
    # write output to csv file
    result_writer = csv.writer(result_file)
    result_writer.writerow(["user_id", "business_id"])
    result_writer.writerows(i for i in user_list)
    result_file.close()

23/11/22 22:24:33 WARN Utils: Your hostname, Siddhant-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.156 instead (on interface en0)
23/11/22 22:24:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/22 22:24:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [36]:
import pandas as pd
data = pd.read_csv(output_file_path)
display(data.head())
data.shape

                  user_id             business_id
0  yFuE8SPF-d1GXJUWYgKtzg  X8lfGPagfLzfOsx0k08NRQ
1  wA7V8Ijgbv-16rmnwW-hjA  LfYUOclwLs_SPrNAdKMjsw
2  qEEk0PuoH1dVa619t8fgpw  PY9GRfzr4nTZeINf346QOw
3  EZjT2qJN0mOXypMAqZdSrQ  A2q7d-CBM2-81tVkmS4JMw
4  xjDZnGhK76PQkcVzO3dcWw  uaipZDBSvzDzUUlazpyGCg

(430678, 2)

In [41]:
import pandas as pd
df = pd.read_csv('./data/ml-20m/ratings.csv')
# display(df.head())
df = df[df['rating'] >= 4].set_index('userId')['movieId']
df = df.sample(frac=1)
df.to_csv('./data/ml-20m/transactions.csv')
# display(df)

In [42]:
data = pd.read_csv('./data/ml-20m/transactions.csv')
display(data.head())
data.shape

   userId  movieId
0  122267     3083
1   12844     2023
2    6838     4344
3  103175    40815
4   69735      527

(9995410, 2)